{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Quote Builder plugin for Craft CMS 3.x
 *
 * Quote Builder index.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2019 Kurious Agency
 * @link      https://kurious.agency
 * @package   QuoteBuilder
 * @since     1.0.0
 */
#}

{% redirect "/quotes" %}
