{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Quote Builder plugin for Craft CMS 3.x
 *
 * Quote Builder Settings.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2019 Kurious Agency
 * @link      https://kurious.agency
 * @package   QuoteBuilder
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("kuriousagency\\quotebuilder\\assetbundles\\quotebuilder\\QuoteBuilderAsset") %}

{{ forms.textField({
    label: 'Some Field',
    instructions: 'Enter some setting here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: settings['someAttribute']})
}}
