 {#
 * Quote Builder plugin for Craft CMS 3.x
 *
 * Quote Builder staff/edit.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2019 Kurious Agency
 * @link      https://kurious.agency
 * @package   QuoteBuilder
 * @since     1.0.0
 */
#}

{% extends '_layouts/cp' %}
{% import "_includes/forms" as forms %}

{% set title = staffMember ? 'Edit Team Member Details' : 'Add New Team Member' %}
{% set selectedSubnavItem = 'staff' %}
{% set fullPageForm = true %}

{% block actionButton %}
    <div class="buttons">
        <input type="submit" value="Save" class="btn submit add icon">
    </div>
{% endblock %}

{% block content %}
    {{ csrfInput() }}
    {{ redirectInput('quote-builder/staff') }}
    {{ forms.hidden({
    name: 'action',
    value: 'quote-builder/staff/save' })
    }}
    {{ forms.hidden({
    label: 'Staff Id',
    id: 'staff-id',
    name: 'staff-id',
    value: staffMember.id ?? '' })
    }}
    {{ forms.textField({
    label: 'Name',
    instructions: 'Add/Edit Team Member Name',
    id: 'name',
    name: 'name',
    value: staffMember.name ?? '',
    required: true, })
    }}
    {{ forms.textField({
    label: 'Team Member Email',
    instructions: 'Add/Edit Team Member Email',
    id: 'email',
    name: 'email',
    value: staffMember.email ?? '',
    required: true, })
    }}
    {{ forms.textField({
        label: 'Team Member Motif',
        instructions: 'Add the motif added to quotes when created by this team member.',
        id:'asset',
        name:'asset',
        value: staffMember.assetId ?? '',
        required: false, })
    }}
{% endblock %}