 {#
 * Quote Builder plugin for Craft CMS 3.x
 *
 * Quote Builder staff/index.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2019 Kurious Agency
 * @link      https://kurious.agency
 * @package   QuoteBuilder
 * @since     1.0.0
 */
#}

{% extends '_layouts/cp' %}
{% set title = 'Team Members' %}
{% set selectedSubnavItem = 'staff' %}

{% block actionButton %}
    <div class="buttons">
        <a href="staff/edit" class="btn submit add icon">Add New Team Member</a>
    </div>
{% endblock %}

{% block content %}
    <h2>Team Members</h2>

    <div id="no-staff"{% if staff|length %} class="hidden"{% endif %}>
        <p>There are no team members.</p>
    </div>

    {% if staff|length %}
        <table id="staff" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Image</th>
                <td class="thin"></td>
            </tr>
            </thead>
            <tbody>
            {% for person in staff %}
                <tr data-id="{{ person.id }}" data-name="{{ person.id }}">
                    <th scope="row" data-title="id">
                        <a href="{{ url('quote-builder/staff/edit/'~person.id) }}">{{ person.id }}</a>
                    </th>
                    <td data-title="name">{{ person.name }}</td>
                    <td data-title="email" class="code">{{ person.email }}</td>
                    <td data-title="created">{{ person.assetId }}</td>
                    <td class="thin"><a class="delete icon" title="{{ 'Delete'|t('commerce') }}" role="button"></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}
{% endblock %}


{% js %}
    var adminTable = new Craft.AdminTable({
      tableSelector: '#staff',
      noObjectsSelector: '#no-staff',
      deleteAction: 'quote-builder/staff/delete',
    });
{% endjs %}