 {#
 * Quote Builder plugin for Craft CMS 3.x
 *
 * Quote Builder quotes/edit.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2019 Kurious Agency
 * @link      https://kurious.agency
 * @package   QuoteBuilder
 * @since     1.0.0
 */
#}

{% extends '_layouts/cp' %}
{% set title = quote ? 'Edit Quote' : 'Create New Quote' %}
{% set selectedSubnavItem = 'quotes' %}
{% set fullPageForm = true %}

{% block actionButton %}
    <div class="buttons">
        <input type="submit" value="Save" class="btn submit add icon">
    </div>
{% endblock %}

{% block content %}
add form here
{% endblock %}