 {#
 * Quote Builder plugin for Craft CMS 3.x
 *
 * Quote Builder quotes/index.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2019 Kurious Agency
 * @link      https://kurious.agency
 * @package   QuoteBuilder
 * @since     1.0.0
 */
#}

{% extends '_layouts/cp' %}
{% set title = 'Quotes' %}
{% set selectedSubnavItem = 'quotes' %}

{% block actionButton %}
    <div class="buttons">
        <a href="quote-builder/quotes/edit" class="btn submit add icon">Start New Quote</a>
    </div>
{% endblock %}

{% block content %}
    <h2>Quotes</h2>

    <div id="no-quotes"{% if quotes|length %} class="hidden"{% endif %}>
        <p>There are no quotes.</p>
    </div>

    {% if quotes|length %}
        <table id="quotes" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">Quote ID</th>
                <th scope="col">Customer</th>
                <th scope="col">Date Created</th>
                <th scope="col">Value</th>
                <th scope="col">Status</th>
                <td class="thin"></td>
            </tr>
            </thead>
            <tbody>
            {% for quote in quotes %}
                <tr data-id="{{ quote.id }}" data-name="{{ quote.id }}">
                    <th scope="row" data-title="id">
                        <a href="{{ url('quote-builder/quotes/edit/'~quote.id) }}">{{ quote.id }}</a>
                    </th>
                    <td data-title="customer">{{ quote.customerId }}</td>
                    <td data-title="created">{{ quote.dateCreated }}</td>
                    <td data-title="value">{{ quote.total|currency('GBP') }}</td>
                    <td data-title="status">STATUS</td>
                    <td class="thin"><a class="delete icon" title="{{ 'Delete'|t('commerce') }}" role="button"></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}
{% endblock %}


{% js %}
    var adminTable = new Craft.AdminTable({
      tableSelector: '#quotes',
      noObjectsSelector: '#no-quotes',
      deleteAction: 'quote-builder/quotes/delete',
    });
{% endjs %}