 {#
 * Quote Builder plugin for Craft CMS 3.x
 *
 * Quote Builder customers/edit.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2019 Kurious Agency
 * @link      https://kurious.agency
 * @package   QuoteBuilder
 * @since     1.0.0
 */
#}

{% extends '_layouts/cp' %}
{% import "_includes/forms" as forms %}

{% set title = customer ? 'Edit Customer Details' : 'Add New Customer' %}
{% set selectedSubnavItem = 'customers' %}
{% set fullPageForm = true %}

{% block actionButton %}
    <div class="buttons">
        <input type="submit" value="Save" class="btn submit add icon">
    </div>
{% endblock %}

{% block content %}
    {{ csrfInput() }}
    {{ redirectInput('quote-builder/customers') }}
    {{ forms.hidden({
    name: 'action',
    value: 'quote-builder/customers/save' })
    }}
    {{ forms.hidden({
    label: 'Customer Id',
    id: 'customer-id',
    name: 'customer-id',
    value: customer.id ?? '' })
    }}
    {{ forms.textField({
    label: 'Name',
    instructions: 'Add/Edit Customer Name',
    id: 'name',
    name: 'name',
    value: customer.name ?? '',
    required: true, })
    }}
    {{ forms.textField({
    label: 'Email',
    instructions: 'Add/Edit Customer Email',
    id: 'email',
    name: 'email',
    value: customer.email ?? '',
    required: true, })
    }}
    {{ forms.textField({
    label: 'Company',
    instructions: 'Add/Edit Customer Company',
    id:'company',
    name:'company',
    value: customer.company ?? '',
    required: false, })
    }}
    {{ forms.textField({
    label: 'Company Address',
    instructions: 'Add/Edit Customer Company Address',
    id:'company-address',
    name:'company-address',
    value: customer.companyAddress ?? '',
    required: false, })
    }}
{% endblock %}