 {#
 * Quote Builder plugin for Craft CMS 3.x
 *
 * Quote Builder customers/index.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2019 Kurious Agency
 * @link      https://kurious.agency
 * @package   QuoteBuilder
 * @since     1.0.0
 */
#}

{% extends '_layouts/cp' %}
{% set title = 'Customers' %}
{% set selectedSubnavItem = 'customers' %}

{% block actionButton %}
    <div class="buttons">
        <a href="customers/edit" class="btn submit add icon">Add New Customer</a>
    </div>
{% endblock %}

{% block content %}
    <h2>Customers</h2>

    <div id="no-quotes"{% if customers|length %} class="hidden"{% endif %}>
        <p>There are no customers.</p>
    </div>

    {% if customers|length %}
        <table id="customers" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Company</th>
                <td class="thin"></td>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr data-id="{{ customer.id }}" data-name="{{ customer.id }}">
                    <th scope="row" data-id="id">{{ customer.id }}</th>
                    <td data-title="name"><a href="{{ url('quote-builder/customers/edit/' ~ customer.id) }}">{{ customer.name }}</a></td>
                    <td data-title="email" class="code">{{ customer.email }}</td>
                    <td data-title="company">{{ customer.company }}</td>
                    <td class="thin"><a class="delete icon" title="{{ 'Delete'|t('commerce') }}" role="button"></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}
{% endblock %}


{% js %}
    var adminTable = new Craft.AdminTable({
      tableSelector: '#customers',
      noObjectsSelector: '#no-customers',
      deleteAction: 'quote-builder/customers/delete',
    });
{% endjs %}