 {#
 * Quote Builder plugin for Craft CMS 3.x
 *
 * Quote Builder products/edit.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2019 Kurious Agency
 * @link      https://kurious.agency
 * @package   QuoteBuilder
 * @since     1.0.0
 */
#}

{% extends '_layouts/cp' %}
{% import "_includes/forms" as forms %}

{% set title = product ? 'Edit Product Details' : 'Add New Product' %}
{% set selectedSubnavItem = 'products' %}
{% set fullPageForm = true %}

{% block actionButton %}
    <div class="buttons">
        <input type="submit" value="Save" class="btn submit add icon">
    </div>
{% endblock %}

{% block content %}
    {{ csrfInput() }}
    {{ redirectInput('quote-builder/products') }}
    {{ forms.hidden({
    name: 'action',
    value: 'quote-builder/products/save' })
    }}
    {{ forms.hidden({
    label: 'Product Id',
    id: 'product-id',
    name: 'product-id',
    value: product.id ?? '' })
    }}
    {{ forms.textField({
    label: 'Name',
    instructions: 'Add/Edit Product Name',
    id: 'name',
    name: 'name',
    value: product.name ?? '',
    required: true, })
    }}
    {% if product.ref is defined and product.ref|length %}
    {{ forms.textField({
    label: 'Product Ref',
    instructions: 'Add/Edit Product product Hourly Rate',
    id: 'ref',
    name: 'ref',
    value: product.ref ?? '',
    required: false, })
    }}
    {% endif %}
    {{ forms.textField({
    label: 'Product Type',
    instructions: 'Choose a product type',
    id:'producttypeid',
    name:'producttypeid',
    value: product.productTypeId ?? '',
    required: false, })
    }}
{% endblock %}