 {#
 * Quote Builder plugin for Craft CMS 3.x
 *
 * Quote Builder products/index.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2019 Kurious Agency
 * @link      https://kurious.agency
 * @package   QuoteBuilder
 * @since     1.0.0
 */
#}

{% extends '_layouts/cp' %}
{% set title = 'Products' %}
{% set selectedSubnavItem = 'products' %}

{% block actionButton %}
    <div class="buttons">
        <a href="products/edit" class="btn submit add icon">Create New Product</a>
    </div>
{% endblock %}

{% block content %}
    <h2>Products</h2>

    <div id="no-products"{% if products|length %} class="hidden"{% endif %}>
        <p>There are no products.</p>
    </div>

    {% if products|length %}
        <table id="products" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">ProductType</th>
                <td class="thin"></td>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr data-id="{{ product.id }}" data-name="{{ product.id }}">
                    <th scope="row" data-title="id">{{ product.id }}</th>
                    <td data-title="name"><a href="{{ url('quote-builder/products/edit/' ~ product.id) }}">{{ product.name }}</a></td>
                    <td data-title="type">{{ product.productTypeId }}</td>
                    <td class="thin"><a class="delete icon" title="{{ 'Delete'|t('commerce') }}" role="button"></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}
{% endblock %}


{% js %}
    var adminTable = new Craft.AdminTable({
      tableSelector: '#products',
      noObjectsSelector: '#no-products',
      deleteAction: 'quote-builder/products/delete',
    });
{% endjs %}