 {#
 * Quote Builder plugin for Craft CMS 3.x
 *
 * Quote Builder product-types/edit.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2019 Kurious Agency
 * @link      https://kurious.agency
 * @package   QuoteBuilder
 * @since     1.0.0
 */
#}

{% extends '_layouts/cp' %}
{% import "_includes/forms" as forms %}

{% set title = type ? 'Edit Product Type Details' : 'Add New Product Type' %}
{% set selectedSubnavItem = 'productType' %}
{% set fullPageForm = true %}

{% block actionButton %}
    <div class="buttons">
        <input type="submit" value="Save" class="btn submit add icon">
    </div>
{% endblock %}

{% block content %}
    {{ csrfInput() }}
    {{ redirectInput('quote-builder/product-types') }}
    {{ forms.hidden({
    name: 'action',
    value: 'quote-builder/product-types/save' })
    }}
    {{ forms.hidden({
    label: 'Product Type Id',
    id: 'type-id',
    name: 'type-id',
    value: type.id ?? '' })
    }}
    {{ forms.textField({
    label: 'Name',
    instructions: 'Add/Edit Product Type Name',
    id: 'name',
    name: 'name',
    value: type.name ?? '',
    required: true, })
    }}
    {{ forms.textField({
    label: 'Hourly Rate (£)',
    instructions: 'Add/Edit Product Type Hourly Rate',
    id: 'hourprice',
    name: 'hourprice',
    value: type.hourprice ?? '',
    required: false, })
    }}
    {{ forms.textField({
    label: 'Fixed Price (£)',
    instructions: 'Add fixed price of product type',
    id:'fixedprice',
    name:'fixedprice',
    value: type.fixedPrice ?? '',
    required: false, })
    }}
{% endblock %}