 {#
 * Quote Builder plugin for Craft CMS 3.x
 *
 * Quote Builder product-types/index.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2019 Kurious Agency
 * @link      https://kurious.agency
 * @package   QuoteBuilder
 * @since     1.0.0
 */
#}

{% extends '_layouts/cp' %}
{% set title = 'Product Types' %}
{% set selectedSubnavItem = 'productTypes' %}

{% block actionButton %}
    <div class="buttons">
        <a href="product-types/edit" class="btn submit add icon">Create New Product Type</a>
    </div>
{% endblock %}

{% block content %}
    <h2>Product Types</h2>

    <div id="no-types"{% if types|length %} class="hidden"{% endif %}>
        <p>There are no types.</p>
    </div>

    {% if types|length %}
        <table id="types" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Product Type</th>
                <th scope="col">Price Per Hour</th>
                <th scope="col">Fixed Price</th>
                <td class="thin"></td>
            </tr>
            </thead>
            <tbody>
            {% for type in types %}
                <tr data-id="{{ type.id }}" data-name="{{ type.id }}">
                    <th scope="row" data-title="id">{{ type.id }}</th>
                    <td data-title="name"><a href="{{ url('quote-builder/product-types/edit/'~type.id) }}">{{ type.name }}</a></td>
                    <td data-title="customer">{{ type.hourprice }}</td>
                    <td data-title="created">{{ type.fixedPrice }}</td>
                    <td class="thin"><a class="delete icon" title="{{ 'Delete'|t('commerce') }}" role="button"></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}
{% endblock %}


{% js %}
    var adminTable = new Craft.AdminTable({
      tableSelector: '#types',
      noObjectsSelector: '#no-types',
      deleteAction: 'quote-builder/product-types/delete',
    });
{% endjs %}